.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
button {
  background: burlywood;
  height: 2rem;
  width: 7rem;
  border: 1px solid blueviolet;
  margin: 1rem;
}
.disabled {
  background: white;
  border: 1px solid black;
}
